{{>header}}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h1>{{capitalizar name}}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptates, sunt laudantium quis
                accusantium
                laborum vitae architecto repellendus molestiae corrupti voluptatum, rerum libero reprehenderit debitis
                aliquid facilis. Quisquam, ab earum fugit qui sequi consectetur dicta a iste magni nostrum explicabo
                quidem
                enim dolore voluptatum amet rerum consequatur reprehenderit! Cumque, vitae?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/chrono_trigger.jpg" alt="Chrono Trigger Img" class="img-thumbnail">
        </div>
    </div>
</div>

{{>footer}}